RENDER_API_KEY=rnd_RYSQEgSF9x2xrhf4FqV4n2lSAZON

RAILWAY_API_KEY=e30a3982-15bf-4bb4-a7ee-e86186222a44

GITHUB_API_KEY=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

OPENAI_API_KEY=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

GEMINI_API_KEY=AIzaSyAJeM8CUBQfe4OQEKZFt-UtMIfMAs6XeYE

VERCEL_API_KEY=vck_6Y3dQBXy27z3j05WAl4qsX2rfLzrvlv9ZBOepS9KuhNtEhGrlR0oEINT

GITHUB_TOKEN=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

VERCEL_API_KEY=v1:team_Q7P5ptcXkEL5SBpsQ2edIgr3:vcp_3ps31k8UKJymmTE5BmBYcHhIW54ACRocoKqqLgQJmA0Jmsx4dt1hfMhp

VERCEL_TOKEN=vcp_0m1v5Bo2dczGCMm3p4GIZ8B1gtkfJGsaIE89kzNpKPHywbge4f0RcFtM

TAILSCALE_LOGIN_ID=kGWW3UoqRn11CNTRL

TAILSCALE_LOGIN_SECRET=tskey-client-kGWW3UoqRn11CNTRL-cQk71Ma1mPLRUw62a9qHPLzkTVPVB59d

TAILNET_UNIQUE_ID=TEp17UfETn11CNTRL

TAILSCALE_AUTH_TOKEN=tskey-auth-kUDfhVSGQ821CNTRL-99guRd3DzGVLqeu3qaoRHVWctSeKbwtUH

TAILSCALE_API_KEY=tskey-api-kGNf5fB31821CNTRL-deCPgubNsJb61rCTcho8JbrYAAGQpoE9Q

